html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: gainsboro;
}
.input-container {
  background-color: transparent;
  /* display: grid;
  place-items: center; */
  height: auto;
  padding: 1rem;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #444;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  font-family: 'Digital-7 Italic';
}
button {
  /* height: 60px; */
  background-color: oldlace;
  border-radius: 10px;
  border: none;
  /* background-color: transparent; */
  font-size: 2rem;
  padding: 2rem;
  color: #333;
  font-family: 'Digital-7';
  font-size: 3rem;
}
/* .button:hover {
  color: #337cac;
} */
.all-clear {
  background-color: #f05959;
  border-color: #b0353a;
  grid-area: 5/2/5/4;
}
/* .all-clear:hover {
  background-color: #4e9ed4;
} */
.equal-sign {
  background-color: #4e9ed4;
  border-color: #337cac;
  color: #f1f1f1;
  height: 100%;
  grid-area: 3/4/6/5;
}
.equal-sign:hover {
  background-color: #4e9ed4;
}
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0 1rem;
}
